{% extends "KAPlatformBundle::layout.html.twig" %}

{% block title %}
	Ecole du dos - {{ parent() }}
{% endblock %}

{% block kaplatform_body %}
	<p>
	Ceci est un modification en temps réel de notre site dans
	le fichier .../views/Advert/ecoledudos.html.twig
	</p>
{% endblock %}