{% extends "KAPlatformBundle::layout.html.twig" %}

{% block title %}
	Ostéopathie - {{ parent() }}
{% endblock %}

{% block kaplatform_body %}
	<p>
	Ceci est un modification en temps réel de notre site dans
	le fichier .../views/Advert/osteopathie.html.twig
	</p>
{% endblock %}